<h1><%= @bottle.started_at.strftime("Edit Bottle from %m/%d/%Y at %I:%M%p") %></h1>

<%= form_with(model: [@child, @bottle], html: {class: "flex flex-col space-y-6" }) do |form| %>
  <div class="flex flex-col">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.5 %>
  </div>

  <div class="flex flex-col">
    <%= form.label :started_at %>
    <%= form.datetime_field :started_at %>
  </div>

  <div class="flex flex-col">
    <%= form.label :ended_at %>
    <%= form.datetime_field :ended_at %>
  </div>

  <div class="flex flex-col">
    <%= form.collection_select(:user_id, User.all, :id, :name, { id: :bottle_user_id }) %>
  </div>

  <%= form.submit %>
<% end %>
