<h1><%= @child.name %>'s Bottles</h1>
<p><%= @bottles.count %> Bottles recorded for #{this month}</p>

<% @bottle_groups.each do |day, bottles| %>
  <h2><%= day.strftime("%m/%d/%Y") %></h2>
  <table class="bottle-table">
    <tr>
      <th>User</th>
      <th>Day</th>
      <th>Amount</th>
      <th>Started At</th>
      <th>Ended At</th>
      <th>View</th>
      <th>Edit</th>
    </tr>
    <% bottles.each do |bottle| %>
      <tr>
        <td><%= bottle.user.name %></td>
        <td><%= day.strftime("%m/%d/%Y") %></td>
        <td><%= bottle.amount %> oz</td>
        <td><%= bottle.started_at&.strftime("%I:%M %p") %></td>
        <td><%= bottle.ended_at&.strftime("%I:%M %p") %></td>
        <td><%= link_to "View", child_bottle_path(@child, bottle) %></td>
        <td><%= link_to "Edit", edit_child_bottle_path(@child, bottle) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
