<%= content_tag("h1", "#{@child.name}'s bottles") %>
<%= content_tag(:p, "#{@bottles.count} bottles recorded for #{Date.strptime(params[:month] || current_month, "%Y-%m").strftime("%B %Y")}") %>

<div id="bottles-filter">
  <%= form_with url: child_bottles_path(@child), method: :get, data: { turbo_frame: "bottles_frame" }, local: true do |form| %>
    <%= form.label :month, "Filter by Month:" %>
    <%= form.select :month, options_for_select(month_options, params[:month] || current_month), {}, onchange: "this.form.submit();" %>
  <% end %>
</div>

<%= turbo_frame_tag "bottles_frame" do %>
  <%= render partial: "bottles/list", locals: { bottle_groups: @bottle_groups } %>
<% end %>
