<h1><%= @bottle.started_at.strftime("Viewing Bottle from %m/%d/%Y at %I:%M%p") %></h1>

<p>Date: <%= @bottle.started_at&.strftime("%m/%d/%Y") %></p>
<p>Bottle recorded by: <%= @bottle.user.name %></p>
<p>Amount: <%= @bottle.amount %>oz</p>
<p>Started At: <%= @bottle.started_at&.strftime("%I:%M %p") %></p>

<div class="flex flex-row space-x-6">
  <%= link_to "Edit", edit_child_bottle_path(@bottle.child, @bottle)  %>

  <% if @bottle.ended_at.nil? %>
    <%= button_to "Mark Done", "#mark_done" %>
  <% else %>
    <p>Ended At: <%= @bottle.ended_at&.strftime("%I:%M %p") %></p>
  <% end %>
</div>
