<p>Date: <%= @bottle.started_at&.strftime("%m/%d/%Y") %></p>
<p>Bottle recorded by: <%= @bottle.user.name %></p>
<p>Amount: <%= @bottle.amount %>oz</p>
<p>Started At: <%= @bottle.started_at&.strftime("%I:%M %p") %></p>
<% if @bottle.ended_at.nil? %>
  <%= button_to "Mark Done", "#mark_done" %>
<% else %>
  <p>Ended At: <%= @bottle.started_at&.strftime("%I:%M %p") %></p>
<% end %>
