<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bottle Log" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="border: 1px solid green; margin: 24px;">
    <% if flash[:notice] %>
      <div class="flex" style="border: 1px solid red; height: 50px;">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%# if Current.user %>
<!--      <nav class="flex flex-row justify-between" style="width: 100%; border: 1px solid blue">-->
<!--        <div>-->
         <%#= content_tag("h1", "Hi, #{Current.user.name}") %>
<!--        </div>-->

<!--        <div class="flex flex-row space-x-6" style="float: right; padding: 24px; border: 1px solid yellow">-->
          <%#= button_to "New Bottle", new_child_bottle_path, method: :get %>
          <%#= button_to "Home", child_bottles_path, method: :get %>
          <%#= button_to "Logout", session_path, method: :delete %>
<!--        </div>-->
<!--      </nav>-->
    <%# end %>

    <%= yield %>
  </body>
</html>
